body.home {
    background: #FFFBF3;
}

#site_loader_overlay {
  display: none;
}

.op-anime {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(45.67deg, #8AD3E2 1.21%, #b1e8ee 99.68%); */
  background-color: #fff;
  z-index: 9999;
}

.loader{
  position:absolute;
  top:50%;
  margin:-5000px;
  left:50%;
}

.sp-canvas {
  display: none;
}

.loader h1{
  position: absolute;
  text-align: center;
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height:420px;
  font-size:32px;
  color:#20516D;
  font-weight:500;
}

.mobile #page_no_side {
  width: 100%;
}

.js-fadeIn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.slick-img img {
  width: 100%;
}

.thumbnail-img img {
  width: 100%;
}

.header {
    position: fixed;
    width: 100%;
}

#header_logo {
    margin-left: 5.16vw;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-global-menu {
    display: flex;
    align-items: center;
    width: 100%;
}

#header_logo,
#global_menu {
    position: initial;
    background: initial;
}

#global_menu > ul {
    justify-content: flex-end;
}

#global_menu > ul > li {
    background-color: initial;
    margin:0 25px;
}
#global_menu > ul > li > a {
    background-color: initial;
}

.menu-item-99 {
    display: none;
  }

.header-reservation {
    padding:0 20px;
}

.header-reservation a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #20516d;
    color: #fff;
    padding:23px 15px;
    text-align: center;
    font-size: 18px;
}

.header-reservation a span {
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

#header_social_link li a:before {
    color: #20516d;
}

.styled_h3 {
    border-top:none!important;
}

/* concept */

.num1 {
  width: 100%;
  padding-bottom: 5px;
  background-color: #EFEFEF;
  padding-top: 0;
}

.concept-container {
    margin-top: 70px;
    position: relative;
    margin-bottom: 150px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
  
.concept-content {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 70px;
}

.concept-img {
width:350px;
flex:none;
}

.concept-wrap {
margin-left: 60px;
}

.concept-wrap h3 {
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 46px;
/* ボックスの高さと同一、または164% */

letter-spacing: 0.1em;

/* アクセント */

color: #20516D;
}

.concept-wrap p {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 46px;
/* または256% */
margin-top: 25px;
letter-spacing: 0.1em;

/* テキスト */

color: #666666;
}

/* wave */

.wave {
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
max-width: 100vw!important;
width: 100vw;
z-index:-1;
}

/* 共通パーツ */

h2.section-title {
text-transform: uppercase;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.1em;
color: #20516D;
text-align: center;
}

p.section-sub-title {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 46px;
letter-spacing: 0.1em;
margin-top: 10px;
color: #20516D;
text-align: center;
}

.c-btn {
display: flex;
justify-content: center;
align-items: center;
max-width: 260px;
width: 100%;
height: 50px;
margin-left: auto;
margin-right: auto;
border: 1px solid #20516D;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 46px;
text-align: center;
letter-spacing: 0.1em;
color: #20516D;
transition: 0.3s;
}

.c-btn .c-blue:hover {
  background-color: #20516D;
  color: #fff;
  transition: 0.3s;
}

.c-btn .c-white:hover {
  background-color: initial;
  border: 1px solid #20516D;
  color: #20516D;
  transition: 0.3s;
  color: #fff;
}

.p-btn {
margin-top: 60px;
}

/* top menu slider */

/* 01 */

.thumbnail {
margin-top: 30px;
}

.thumbnail .slick-track {
transform: unset !important;
}
.thumbnail-img {
opacity: 0.3;
transition: opacity .3s linear;
margin:0 5.5px;
}
.thumbnail .slick-current {
opacity: 1;
}

/* 02 */

.thumbnail02 {
margin-top: 30px;
}

.thumbnail02 .slick-track {
transform: unset !important;
}

.thumbnail02 .slick-current {
opacity: 1;
}

/* 03 */

.thumbnail03 {
margin-top: 30px;
}

.thumbnail03 .slick-track {
transform: unset !important;
}

.thumbnail03 .slick-current {
opacity: 1;
}

.menu-slider {
max-width:40%;
width: 100%;
}

/* menu */

.index_free_space.cb_contents.num2 {
  padding-bottom: 100px;
}

.menu-container {
position:relative;
margin-top: 50px;
}

.menu-wrapper {
margin-top: 80px;
}

.menu-content {
display: flex;
justify-content: space-between;
}

.menu-content:nth-child(n+2) {
margin-top: 90px;
}

.menu-menus {
max-width: 50%;
width: 100%;
margin-top: 30px;
}

h3.menu-title {
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
letter-spacing: 0.1em;

color: #20516D;
}

p.menu-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.1em;
margin-top: 30px;
color: #20516D;
}

.campaign-text p {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 34px;
margin-top: 30px;
letter-spacing: 0.1em;
color: #333333;
}

table.menu-table {
  margin-top: 40px;
  border-collapse: separate;
  border-spacing: 3px;
}

.menu-table th {
  background-color: #729DB5;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding:10px 0;
  letter-spacing: 1.5px;
  font-weight: 400;
  width:130px;
}

.menu-table td:first-child {
  color: #20516D;
  text-align: left;
  font-size: 15px;
  letter-spacing: 1.5px;
  background: #F6F6F6;
  padding: 10px 30px;
}

.menu-table td {
  background: #FFF;
  color: #20516D;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 10px 30px;
}

.menu-table td:last-child {
  text-align: right;
}

.menu-wave {
position: absolute;
left:50%;
transform: translateX(-50%);
max-width: 100vw!important;
width: 100vw;
}

.menu-option {
  margin-top: 30px;
}

.menu-option__table {
  margin-top: 30px;
}

.menu-option__table td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #20516D;
}

.menu-option__table tr {
  border-bottom: 1px solid #efefef;
  padding-top:5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

/* staff */

.staff-wrapper {
  margin-top: 64px;
}

.staff-slider .slick-slide {
margin:0 30px;
}

.staff-slider .slick-slide img {
width:222px;
height:222px;
border-radius: 50%;
object-fit: cover;
margin:0 auto;
}

.staff-slider .slick-arrow {
width:20px;
height:30px;
}

.staff-slider .prev-arrow {
position: absolute;
left:-90px;
top:50%;
transform: translateY(-50%);
}

.staff-slider .next-arrow {
position: absolute;
right:-90px;
top:50%;
transform: translateY(-50%);
}

.staff-back {
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
max-width: 100vw!important;
width: 100vw;
z-index: -1;
max-height: 1000px;
}

.staff-container {
position: relative;
margin-top: 210px;
}

/* Instagram */

.insta-container {
padding-top: 200px;
}

.insta-content {
display: flex;
justify-content: center;
flex-wrap:wrap;
gap:10px;
margin-top: 45px;
}

.insta-box {
max-width:240px;
}

/* 予約 */

.reservation-container {
background: linear-gradient(97.67deg, #729DB5 1.21%, #20516D 99.68%);
padding-top: 90px;
padding-bottom: 100px;
}

.reservation-container.top {
margin-top: 110px;
}

p.reservation-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* または188% */

text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
margin-top: 20px;
}

.c-white {
background-color: #fff;
color: #20516D;
}

h2.section-title.white {
color: #efefef;
}

p.section-sub-title.white {
color: #efefef;
}

.num5 {
width: 100%;
padding: 0;
}

#return_top {
display: none;
}

.u-desktop {
display: block;
}

.u-mobile {
display: none;
}

h3.concept-title {
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 46px;
/* ボックスの高さと同一、または164% */

letter-spacing: 0.3em;

/* アクセント */

color: #20516D;
}

p.concept-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
max-width: 760px;
margin-left: auto;
margin-right: auto;
letter-spacing: 0.3em;
color: #666666;
}

p.concept-text02 {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
letter-spacing: 0.3em;
color: #666666;
}

.concept-back {
background-position:center;
background-size: cover;
background-repeat: no-repeat;
padding-top: 70px;
padding-bottom: 90px;
filter: opacity(90%);
}

.concept-back02 {
background-position:center;
background-size: cover;
background-repeat: no-repeat;
padding-top: 120px;
padding-bottom: 280px;
}

.concept-back02-wrap {
max-width:1000px;
margin-right:auto;
margin-left:auto;
}

.campaign-title {
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: 0.1em;
color: #20516D;
margin-top: 92px;
}

#campaign_list .item:nth-child(n+2) {
  margin-top: 80px;
}

.news-list-title {
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 32px;
text-align: center;
letter-spacing: 0.1em;
color: #20516D;
}

.news-lists {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
  background: #F6F6F6;
  padding:0 45px;
}

.news-list a {
  display: flex;
  gap:0 49px;
  padding:50px 0;
}

.news-list:nth-child(n+2) {
  border-top:0.5px solid #B5B5B5;
}

.news-list p {
  font-size: 16px;
}

.news-list-space {
  height:135px
}

h3.faq-catch {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
margin-top: 63px;
text-align: center;
letter-spacing: 0.2em;
color: #666;
} 

/* FAQ */

.ewd-ufaq-faq-div {
  padding:30px;
  background: #F6F6F6;
}

.ewd-ufaq-faq-div:nth-child(n+2) {
  margin-top: 30px;
}

.ewd-ufaq-faq-title-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
letter-spacing: 0.15em;
color: #20516D;
}

.ewd-ufaq-faq-title.ewd-ufaq-faq-toggle {
  position: relative;
}

div.ewd-ufaq-faq-title div.ewd-ufaq-post-margin-symbol {
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

/* staff */

#staff_list .title_area {
margin-top: 25px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2em;
color: #20516D;
}

p.contact-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: center;
letter-spacing: 0.2em;
color: #000000;
margin-top: 50px;
}

.wpcf7 {
  margin-top: 63px;
}

.wpcf7 p:nth-child(n+2) {
  margin-top: 30px;
}

.c-required {
  min-width: 65px;
  padding:5px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.3em;
  color: #FFFFFF;
  background: #20516D;
  margin-left: 12px;
}

.c-any {
min-width: 65px;
padding:5px;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 160%;
text-align: center;
letter-spacing: 0.3em;
color: #8C8C8C;
background: #D9D9D9;
margin-left: 12px;
}

.wpcf7-list-item-label {
  position: relative;
}

input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -45px;
  width: 20px;
  height: 20px;
  background: url("https://yuyauver98.me/develop-html/check-solid.svg") no-repeat center;
  background-size: contain;
}

.label-text {
  display:inline-block;
}

/* ここまでPC版 */

/* 1151px以下 */

@media screen and (max-width:1151px) {
  .u-desktop {
    display: none;
    }
    
    .u-mobile {
    display: block;
    }
    .header-global-menu {
      margin-right: 50px;
      justify-content: right;
      }
  .header-reservation {
      max-width: 70px;
      height: 70px;
      padding: initial;
      margin-right: 40px;
  }
  .header-reservation a {
    padding: initial;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #729DB5;
  }
  .header-reservation img {
    padding-top: 14px;
    max-width: 22px;
  }
  .header-reservation a span {
    font-size: 10px;
    color: #fff;
    padding-bottom: 5px;
    margin-top: 5px;
  }
  .staff-slider .next-arrow {
    right:30px;
  }
  
  .staff-slider .prev-arrow {
    left:30px;
  }
  .num1 {
    padding-right: 0;
    padding-left: 0;
  }
  .staff-wrapper {
    margin-top: 43px;
  }
  .mobile #page_no_side {
    margin: 0;
  }
  p.concept-text02 {
    margin-right: 145px;
  }
}

/* 991px以下 */

@media screen and (max-width:991px) {

  /* canvas */
/* #loader {
  width:7000px;
  height:7000px;
}

.loader{
  margin:-3500px;
} */

.loader h1 {
  font-size: 18px;
}

h2.section-title {
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.1em;
}

p.section-sub-title {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.1em;
}

.num1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 70px;
}

.concept-container {
margin-top: -30px;
padding-top: 25px;
margin-bottom: initial;
}

.wave {
max-height: 600px;
}

.concept-content {
flex-wrap:wrap;
margin-top: 15px;
}

.concept-img {
max-width: 195px;
margin-left: auto;
margin-right: auto;
}

.concept-wrap {
margin-left: initial;
margin-top: 15px;
}

.concept-wrap h3 {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 14px;
text-align: center;
letter-spacing: 0.1em;
}

.concept-wrap p {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* または167% */
padding: 0 20px;
letter-spacing: 0.1em;
}

.num5 {
width: auto;
}

.index_free_space.cb_contents.num2 {
  padding-bottom: initial;
}

.menu-container {
margin-top: 30px;
}

.menu-content {
justify-content: center;
flex-wrap: wrap;
max-width: 80%;
margin-left: auto;
margin-right: auto;
}

.menu-slider {
max-width: 100%;
}

.menu-menus {
max-width: 100%;
}

h3.menu-title {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 13px;
letter-spacing: 0.1em;
}

p.menu-text {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.1em;
}

table.menu-table {
  margin-top: 30px;
}

.menu-table th,
.menu-table td {
  font-size: 10px;
  padding:10px;
}

.menu-table td:first-child {
  font-size: 10px;
  padding:10px;
}

.menu-option__table td {
font-size: 12px;
}

.staff-container {
margin-top: -30px;
padding-top: 120px;
padding-bottom: 100px;
}

.staff-back {
height: 100%!important;
}

.staff-wrapper {
margin-top: 45px;
}

.staff-slider .slick-slide img {
width: 160px;
height:160px;
}

.num3 {
padding:40px 0;
}

.slick-dots {
bottom:-43px;
}

.p-btn {
margin-top: 80px;
}

.insta-container {
padding-top: initial;
}

.insta-content {
gap:initial;
}

.insta-box {
max-width: 95px;
margin:0 auto;
}

.insta-box:nth-child(n+4) {
margin-top: 10px;
}

.insta-box img {
aspect-ratio: 95/95;
object-fit: cover;
}

.reservation-container {
padding-top: 45px;
padding-bottom: 53px;
}

.reservation-container.top {
margin-top: 55px;
}

p.reservation-text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* または214% */
margin-top: 30px;
padding:0 48px;
letter-spacing: 0.1em;
}

.c-white {
margin-top: 26px;
}

#footer_menu {
display: none;
}

.menu-item-99 {
display: block;
}

#page_no_side {
margin: 0;
}

h3.concept-title {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
text-align: left;
letter-spacing: 0.3em;
}

p.concept-text {
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
letter-spacing: 0.3em;
}

.concept-back {
  padding-left: 46px;
  padding-right: 46px;
}

.concept-back02 {
  padding-top: 75px!important;
  padding-bottom: 62px!important;
}

h3.concept-title {
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 18px;
letter-spacing: 0.3em;
}

.concept-space03 {
  height: 45px !important;
}

.concept-item__img {
  width:200px;
  margin-left: auto;
  margin-right: auto;
}

p.concept-text02 {
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
padding:0 46px;
letter-spacing: 0.3em;
margin-right: initial;
}

.campaign-title {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 13px;
text-align: center;
letter-spacing: 0.1em;
color: #20516D;
margin-top: 52px;
}

.campaign-text p {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
padding:0 26px;
letter-spacing: 0.1em;
}

#campaign_list .image_wrap {
  width: 100%;
  height:455px;
}

#campaign_list .title_area {
  width: 100%;
  margin-left: initial;
  text-align: center;
}

#campaign_list .item .menu-title {
  margin-top: 26px;
}

#campaign_list .item:nth-child(n+2) {
  margin-top: 50px;
} 

.news-list-title {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 13px;
text-align: center;
letter-spacing: 0.1em;
}

.news-lists {
  padding:0 20px;
}

.news-list a {
  padding:37px 0;
  gap:0 13px;
}

.news-list p {
  font-size: 10px;
}

.news-list-space {
  height:80px
}

.faq-catch {
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2em;
color: #666666;
margin-top: 42px;
}

h3.faq-catch {
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2em;
color: #666666;
margin-top: 42px;
} 

.faq-space {
  height: 29px !important;
}

.ewd-ufaq-faq-div {
  padding:12px;
}

.ewd-ufaq-faq-title-text h4 {
  font-size: 12px;
}

.ewd-ufaq-faq-title .ewd-ufaq-post-margin-symbol span {
  font-size: 16px!important;
}

#staff_archive #catch_area .desc {
  text-align: left;
}

p.contact-text {
  font-size: 13px;
  margin-top: 30px;
}

.wpcf7 input, .wpcf7 textarea {
  padding:10px;
}

.wpcf7 select, .wpcf7 .wpcf7-list-item-label {
  font-size: 10px;
  margin-left: 46px;
}

.wpcf7 select, .wpcf7 input[type=checkbox], .wpcf7 input[type=radio] {
  width:26px;
  height:26px;
}

input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  left: -35px;
  width: 15px;
  height: 15px;
}

.wpcf7 .wpcf7-submit, .wpcf7 .wpcf7-previous {
  width: 100%;
}
}

@media screen and (max-width:768px) {
    /* canvas */
    .pc-canvas {
      display: none;
    }
    .sp-canvas {
      display: block;
    }

    .loader{
      margin:-1250px;
    }

  #campaign_list .image_wrap {
    width: 100%;
    height:200px;
  }
  
  #campaign_list .title_area {
    width: 100%;
    margin-left: initial;
    text-align: left;
  }

  .menu-content {
    max-width: 100%;
  }
}